<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Om os</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<ul class="navbarUL">
    <li class="liele" style="border-right: 2px solid darkgray"><a class="href-uden-aendring" id="brand" href="/"><span style="font-size:150%">Stop Madspild Nu</span></a></li>
    <li class="liele"><a class="href-uden-aendring lia" href="/">Startside</a></li>
    <li class="liele"><a class="href-uden-aendring lia" href="/madvarer">Madvarer</a></li>
    <li class="liele" style="background-color: #111"><a class="href-uden-aendring lia" href="/om">Om os</a></li>

</ul>
<div class="container">
    <div style="padding-top: 20px">
        <h2 style="margin-bottom: 0;">Hvem er vi?</h2><br>
        <p>Bilen er en klassisk "Gran Turismo", som er 4,96 m lang, 1,96 m bred og 1,38 m høj. Materialer som kulfiber, aluminium og stål reducerer vægten, og hele konceptet er udviklet i tæt samarbejde med Porsche. Men tag ikke fejl. Bilen er spækket med Audis DNA.</p>
        <p>Designet er typisk for Audi, og den flade bund i kabinen, som er noget usædvanligt i elbiler, betyder, at tyngdepunktet bliver lavt, og at køreegenskaberne dermed optimeres. Bilen har også en lav luftmodstand, hvilket er vigtigt for bilens ydelse og rækkevidde. Overordnet set er designet muskuløst med flere vigtige luftindtag, og konceptbilen er udstyret med 22" fælge. Farven på konceptbilen er også ny og hedder "kinetic dust".</p>
        <h5 style="text-align: center">Teamet</h5>
        <div class="row">
            <div class="col col-border navne">
                <h6 style="text-align: center; font-weight: bold">Emil Ankerstjerne Sørensen</h6>
                <p class="info-box"><span style="font-weight: bold">Stilling: </span>Stifter</p>
                <p class="info-box"><span style="font-weight: bold">Alder: </span>22 år</p>
                <p class="info-box"><span style="font-weight: bold">Email: </span>EAS@SMN.dk</p>

            </div>
            <div class="col navne">
                <h6 style="text-align: center; font-weight: bold">Tobias Ankerstjerne Sørensen</h6>
                <p class="info-box"><span style="font-weight: bold">Stilling: </span>Stifter</p>
                <p class="info-box"><span style="font-weight: bold">Alder: </span>20 år</p>
                <p class="info-box"><span style="font-weight: bold">Email: </span>TAS@SMN.dk</p>

            </div>
        </div>
        <div style="margin-top:50px;">
            <h5 style="text-align: center">Kontakt os</h5>
            <h6 style="text-align: center">Email: <a href="" style="color: blue;">Support@SMN.dk</a></h6>
        </div>
    </div>
</div>

</body>
</html>