<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Startside</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <ul class="navbarUL">
        <li class="liele" style="border-right: 2px solid darkgray"><a class="href-uden-aendring" id="brand" href="/"><span style="font-size:150%">Stop Madspild Nu</span></a></li>
        <li class="liele" style="background-color: #111"><a class="href-uden-aendring lia" href="/">Startside</a></li>
        <li class="liele"><a class="href-uden-aendring lia" href="/madvarer">Madvarer</a></li>
        <li class="liele"><a class="href-uden-aendring lia" href="/madvarer">Opret madvare annonce</a></li>
        <li class="liele"><a class="href-uden-aendring lia" href="/om">Om os</a></li>

    </ul>
    <div class="news-div" style="text-align: center; margin-bottom: 50px;">
        <div style="padding-top:20px;">
            <h2 style="">Vil du vide mere om madspild?</h2><br>
            <p>Så læs vores udvalgte artikler med madspild i fokus.</p>
        </div>
    </div>

    <div class="container">
        <div class="news-div">
            <hr>
            <h3 style="margin-bottom: 0;">Hvorfor er madspild et problem?</h3><span style="font-size: 75%"><i>Fredag d. 13. september 2019, kl. 10:00</i></span><br><br>
            <p>1/3 af alle de fødevarer, der bliver produceret på verdensplan, bliver smidt ud uden at blive spist. Det er et stort problem, og derfor skal vi alle, både virksomheder og forbrugere, forsøge at undgå madspild.</p>
            <a href="https://www.arla.dk/artikler/hvorfor-er-madspild-et-problem/?fbclid=IwAR0T0G5fqDxlr1ROWzLLJgyeG_tLZaeuurcht7dqt1Re891Fz3ZLh5BzKjM" class="laes-mere"><p><i>Læs mere...</i></p></a>
            <hr>
        </div>
        <div class="news-div">
            <hr>
            <h3 style="margin-bottom: 0;">Kampen mod madspild er på rette vej</h3><span style="font-size: 75%"><i>Mandag d. 09. oktober 2017, kl. 07.00</i></span><br><br>
            <p>Hvad der svarer til 9.730 fyldte indkøbsvogne hver eneste dag.  Så meget mad smider vi årligt ud i Danmark. Det voldsomme spild har fået forbrugere, fødevareproducenter, supermarkeder og restauranter til at gå ind i kampen mod madspild.</p>
            <p>I 2008 startede Selina Juul forbrugerorganisationen Stop Spild Af Mad. Siden er budskabet blevet modtaget stadig mere positivt af forbrugere, fødevareproducenter, supermarkeder, kantiner og restauranter, som nu alle, på hver sin måde, bekæmper madspild. Kampen mod madspild ifølge Selina Juul er kort sagt et sted, hvor vi alle kan gøre en konkret forskel for miljø og moral – samtidig med at vi sparer penge.</p>
            <a href="https://www.berlingske.dk/annonce/kampen-mod-madspild-er-paa-rette-vej?fbclid=IwAR0R5-t-XrZJpKUICHD3ZVOChftzqR5yQTiSAezbsNImOK2OBoKVm8uUhvg" class="laes-mere"><p><i>Læs mere...</i></p></a>
            <hr>
        </div>
    </div>
    <div style="margin-top:50px;">
        <hr>
        <h5 style="text-align: center">Kontakt os</h5>
        <h6 style="text-align: center">Email: <a href="" style="color: blue;">Support@SMN.dk</a></h6>
    </div>

</body>
</html>